__pycache__
__pycache__/C_Lex.cpython-36.pyc
__pycache__/C_Lex.cpython-37.pyc
__pycache__/C_Lex.cpython-39.pyc
__pycache__/parsetab.cpython-36.pyc
__pycache__/parsetab.cpython-37.pyc
__pycache__/parsetab.cpython-38.pyc
__pycache__/parsetab.cpython-39.pyc
db.sqlite3
main/__pycache__/urls.cpython-39.pyc
main/__pycache__/views.cpython-39.pyc
main/__pycache__/Run_Formal_Structs.cpython-39.pyc
db.sqlite3
C_Parser_new.py
parsetab.py


